.loginContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25.1cm;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO4PN-UaNWzXKvnY5PO9w9_lmDOIsc0uN8ig&usqp=CAU");
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    border: 2px solid black;
    width: 28%;
    margin-top: 15%;
    background-color: ivory;
  }